<!--
    TITLE: Webkit-CLI (webkit-cli) - Blank
    TEMPLATE INFO: Blank Template - Empty html,css,js files
    AUTHOR: AdityaNathK
    ORGANISATION: KronosApps
    CONTACT: apps.kronos@gmail.com
    LICENSE: MIT
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Blank Template</title>
    </head>
    <body>
        <header>
            <nav> <h1 id="#">Header</h1> </nav>
        </header>

        <main>
            <article> Main content of the website </article>
        </main>

        <footer>
            <p>
                Footer
                <a href="mailto: apps.kronos@gmail.com">Contact Me</a>
            </p>
            <p>Copyright &copy; 2023-KronosApps</p>
        </footer>
        <script src="app.js"></script>
    </body>
</html>
